.App {
  font-family: sans-serif;
  text-align: center;
}
.button-offcanvas:hover {
  background-color: rgb(231, 227, 227);
  border-radius: 5px;
  width: 15rem;
}
.button-navbar {
  background-color: rgb(250, 251, 251);
}
.button-navbar:hover {
  background-color: #e2e3e5;
}
.content {
  width: 0;
  transition: width 0.5s;
}

.content.open {
  width: calc(100% - 30rem);
}

.remaining-content {
  width: 100%;
  transition: width 0.5s;
}

.remaining-content.open {
  width: calc(100% - 70rem);
}
